/* 设置样式 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 8px 16px;
    background-color: #f2f2f2;
    cursor: pointer;
}
li:hover {
    background-color: #ddd;
}

/* 将网站标题居中显示并修改样式 */
h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: green;
}

a {
    color: green
}

body {
    background-color: rgb(166, 194, 166);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
    align-self: center;
    align-items: center;
    max-width: 670px;
    margin: 0 auto;
    padding: 0 15px;
}
